<div class="container-fluid">
  <div class="container xd-container">
    <div class="row">
      <div class="col-md-6">
          <form [formGroup]="ownerForm" (ngSubmit)="updateOnwer(ownerForm)">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
              <div>
                <label >Id :</label>
                <input type="text" formControlName="id">
              </div>
            </div>
            
            <div class="col-md-4">
              <div>
                <label>First Name</label>
                <input type="text" formControlName="firstName">
              </div>
            </div>
            
            <div class="col-md-4">
              <div>
                  <label>Last Name</label>
                  <input type="text" formControlName="lastName">
                </div>
              </div>
              
              </div>
              
              <br/>

              <div class="row">
                <div class="col-md-4">
                <div>
                    <label>Address</label>
                    <input type="text" formControlName="address">
                  </div>
                </div>
                
                <div class="col-md-4">
                  <div>
                      <label>City</label>
                      <input type="text" formControlName="city">
                    </div>
                    <div *ngIf="city && city.dirty && city.errors.required">City is required. </div>
                  </div>
                  
                  <div class="col-md-4">
                    <div>
                        <label>Telephone :</label>
                        <input type="text" formControlName="telephone">
                      </div>
                    </div>
                    </div>       
              
                    <br/>
                    <button class="btn btn-success">Submit</button>
              </div>
            </form>
      </div>
    </div>
</div>

</div>