<div class="container">
<div class="row">
        <label><b>Owners List : </b></label>
        <button class="btn btn-success">Add New Owner</button>
        <button class="btn btn-info">Edit Owner</button>
        <button class="btn btn-danger">Delete Owner</button>
        <button class="btn btn-secondary">Copy Owner</button> 
</div>
<br/>

    <div class="row">
    
    <app-owner-list></app-owner-list>
</div>
<br/>
<div class="row">
    <h4><b>Owners Form : </b></h4>
    <app-owner-add></app-owner-add>
</div>    
</div>
